<div class="card">
    <p class="card-body">SOBRE NOSOTROS </p>
    <P class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora deserunt dolores temporibus. Minus cum magnam quaerat necessitatibus, accusantium officia nam doloremque voluptas explicabo minima. Illo harum rerum cupiditate quo recusandae neque eveniet quos a provident impedit reprehenderit aliquam laboriosam fuga iure, quis, voluptas consequuntur sapiente.</P>

</div>