<div class="jumbotron mt-4">
    <h1 class="display-4">HOLA Y BIENVENIDOS A MI RED SOCIAL</h1>
    <P class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, omnis?</P>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae sunt amet provident voluptatem aperiam debitis magnam magni fugit veritatis illum.</p>
</div>